# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log

# Environment variables
.env

# PyCharm
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Static files
staticfiles/

# Media files
media/